<form #form="ngForm" (submit)="onSubmit(form)" 
[class.submitted]="paymentSer.formSubmitted" novalidate autocomplete="off">
    <input type="hidden" name="paymentDetailID" [value]="paymentSer.formData.paymentDetailID">
    <div class="mb-3">
        <label>Card Number</label>
        <input class="form-control form-control-lg" placeholder="Enter 16 Digit Card Number" type="text" name="cardNumber" 
        #cardNumber="ngModel" [(ngModel)]="paymentSer.formData.cardNumber" 
        minlength="16" maxlength="16" required>
    </div>
    <div class="mb-3">
        <label>Card Owner Name</label>
        <input class="form-control form-control-lg" placeholder="Name of the Owner" type="text" name="cardOwnerName" 
        #cardOwnerName="ngModel" [(ngModel)]="paymentSer.formData.cardOwnerName" required>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label>Valid Through</label>
            <input class="form-control form-control-lg" placeholder="MM/YY" type="text" name="expirationDate" 
            #expirationDate="ngModel" [(ngModel)]="paymentSer.formData.expirationDate" required
            minlength="5" maxlength="5">
        </div>
        <div class="mb-3 col-6">
            <label>Security Code</label>
            <input class="form-control form-control-lg" placeholder="CVV" type="password" name="securityCode" 
            #securityCode="ngModel" [(ngModel)]="paymentSer.formData.securityCode" required
            minlength="3" maxlength="3">
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit">Submit</button>
    </div>
</form>